

.fourTapes{
    height: 300px;
    border-radius: 5px;
}

.oneTape{
    height: 300px;
    border-radius: 5px;
}

.divider{
    position: relative;
    min-width:2px;
    max-width:2px;
    background-color:#000;
    display:inline-block;
    margin:0 0.25%;
}
